###> phpstorm ###
/.idea/
###< phpstorm ###

###> composer ###
/vendor/
###< composer ###

###> php-cs-fixer ###
.php_cs.cache
###> php-cs-fixer ###

###> ang3/odoo-bundle (dev) ###
/bin/
###> ang3/odoo-bundle (dev) ###